params {
    out_dir = "output"
    wf {
        // Source tags retained only for digest-resolution provenance.
        e2l_base_tag = "sha8ecee6d351b0c2609b452f3a368c390587f6662d"
        e2l_snp_tag = "sha8cc7e88ff71bf593d7852309a31d3adb29a7caeb"
        e2l_sv_tag = "sha8134f9fef5e19605c7fb4c1348961d6771f1af79"
        e2l_mod_tag = "sha489d708a48c66368e5d1e118538e5dca68203a64"
        cnv_tag = "sha428cb19e51370020ccf29ec2af4eead44c6a17c2"
        str_tag = "shadd2f2963fe39351d4e0d6fa3ca54e1064c6ec057"
        spectre_tag = "sha42472d37a5a992c3ee27894a23dce5e2fff66d27"
        snpeff_tag = "sha367007eed5a09f992c2067f77776d9878806302a"
        common_sha = "shafdd79f8e4a6faad77513c36f623693977b92b08e"
        longphase_tag = "sha4ff1cd9a6eee338a414082cb24f943bcc4ce8e7c" 

        e2l_base_digest = "sha256:1636e108891f26ab3b2dac5888acdd30271225b4feb6b72277b0ee302d321ed6"
        e2l_snp_digest = "sha256:5b914f79a3418f03e5974f102185c81ef25ebeaec1d2e84d8cf5dcc1f8a66a20"
        e2l_sv_digest = "sha256:10c3a015303dd1a5c633c8c066210a9b6295ca3748c938feaf513452be232193"
        e2l_mod_digest = "sha256:45ac2570c408ec1317d456c8902e7ef28de38e4d09eeb63f580b8b5a4ac22f7f"
        cnv_digest = "sha256:518562e23732df1800d2659f573b65016f4ad99ee894002ae2b76b36ffbc8b90"
        cnv_root_digest = null
        str_digest = "sha256:36be96f3704d8b055eeeeee09ceeb70dba801087ef36124134fc4c4bcf7f45ab"
        spectre_digest = "sha256:edae2aac2ea9760a708259fabfe3c7d4a7bd806d773b670061547c5d3d58e301"
        snpeff_digest = "sha256:3af6c3a170422b78c946ea6e895c002eaf50808bf0ebc176ddc0540f7c2214a5"
        common_digest = "sha256:fd1faa356004d0f4062625fef50782cef0865fd0c78e050c7f875a39f32410a8"
        longphase_digest = "sha256:d77b544659ffaf8032f1b9bdf8dfbe1fe0fcf5d494d685e7e6ed913ba91d2520"
    }
}

// used by default for "standard" (docker) and singularity profiles,
// other profiles may override.
process {
    container = "ontresearch/wf-human-variation@${params.wf.e2l_base_digest}"
    withLabel:wf_human_snp {
        container = "ontresearch/wf-human-variation-snp@${params.wf.e2l_snp_digest}"
    }
    withLabel:wf_human_sv {
        container = "ontresearch/wf-human-variation-sv@${params.wf.e2l_sv_digest}"
    }
    withLabel:wf_human_mod {
        container = "ontresearch/modkit@${params.wf.e2l_mod_digest}"
    }
    withLabel:wf_cnv {
        container = "ontresearch/wf-cnv@${params.wf.cnv_digest}"
    }
    withLabel:wf_human_str {
        container = "ontresearch/wf-human-variation-str@${params.wf.str_digest}"
    }
    withLabel:snpeff_annotation {
        container = "ontresearch/snpeff@${params.wf.snpeff_digest}"
    }
    withLabel:wf_common {
        container = "ontresearch/wf-common@${params.wf.common_digest}"
    }
    withLabel:spectre {
        container = "ontresearch/spectre@${params.wf.spectre_digest}"
    }
    withLabel:longphase {
        container = "ontresearch/longphase@${params.wf.longphase_digest}"
    }

    shell = ['/bin/bash', '-euo', 'pipefail']

    // by default GPU tasks will run in serial to avoid GPU management.
    // cluster and cloud users can remove this with -profile discrete_gpus.
    // we use profiles to handle this as maxForks cannot be set dynamically
    // see https://github.com/nextflow-io/nextflow/discussions/3806 and CW-1857
    withLabel:gpu {
        maxForks = 1
    }
}


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
        process."withLabel:gpu".containerOptions = "--gpus all"
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
            //envWhitelist = "" // if your cluster sets a variable to indicate which GPU has been assigned you will want to allow it here
        }
        process."withLabel:gpu".containerOptions = "--nv"
    }


    // keep stub conda profile to prevent unknown profile warning so users get a better error
    conda {
        conda {
            enabled = true
        }
    }

    // Using AWS batch.
    // May need to set aws.region and aws.batch.cliPath
    awsbatch {
        process {
            executor = 'awsbatch'
            queue = { "${params.aws_queue}" }
            memory = '8G'
            container = { "${params.aws_image_prefix}-wf-human-variation@${params.wf.e2l_base_digest}" }
            withLabel:wf_human_snp {
                container = { "${params.aws_image_prefix}-wf-human-variation-snp@${params.wf.e2l_snp_digest}" }
            }
            withLabel:wf_human_sv {
                container = { "${params.aws_image_prefix}-wf-human-variation-sv@${params.wf.e2l_sv_digest}" }
            }
            withLabel:wf_human_mod {
                container = { "${params.aws_image_prefix}-modkit@${params.wf.e2l_mod_digest}" }
            }
            withLabel:wf_cnv {
                container = {
                    if (!params.wf.cnv_root_digest) {
                        throw new IllegalArgumentException("awsbatch wf_cnv requires params.wf.cnv_root_digest; tag fallback is not allowed.")
                    }
                    "${params.aws_image_prefix}-wf-cnv@${params.wf.cnv_root_digest}"
                }
            }
            withLabel:wf_human_str {
                container = { "${params.aws_image_prefix}-wf-human-variation-str@${params.wf.str_digest}" }
            }
            withLabel:snpeff_annotation {
                container = "${params.aws_image_prefix}-snpeff@${params.wf.snpeff_digest}"
            }
            withLabel:wf_common {
                container = "${params.aws_image_prefix}-wf-common@${params.wf.common_digest}"
            }
            withLabel:spectre {
                container = "${params.aws_image_prefix}-spectre@${params.wf.spectre_digest}"
            }
            withLabel:longphase {
                container = "${params.aws_image_prefix}-longphase@${params.wf.longphase_digest}"
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }

    // lift limit on simultaneous gpu jobs
    discrete_gpus {
        process."withLabel:gpu".maxForks = null
    }

}


timeline {
  enabled = true
  file = "${params.out_dir}/execution/timeline.html"
  overwrite = true
}
report {
  enabled = true
  file = "${params.out_dir}/execution/report.html"
  overwrite = true
}
trace {
  enabled = true
  file = "${params.out_dir}/execution/trace.txt"
  overwrite = true
}

env {
    PYTHONNOUSERSITE = 1
    JAVA_TOOL_OPTIONS = "-Xlog:disable -Xlog:all=warning:stderr"
    RUST_BACKTRACE = 1
}
